BasedOnStyle: Chromium
PointerAlignment: Left
UseTab: Never
IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 100
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
AllowShortCaseLabelsOnASingleLine: false
FixNamespaceComments: true
IndentPPDirectives: AfterHash
ReflowComments: false
IndentAccessModifiers: false
AccessModifierOffset: -4